/.idea/*

/BasicGrammar.iml
/BasicGrammar/build/*
/BasicGrammar/.gradle/*
/BasicGrammar/src/test/

/StandardFunctionAndStaticMethod.iml
/StandardFunctionAndStaticMethod/build/*
/StandardFunctionAndStaticMethod/.gradle/*
/StandardFunctionAndStaticMethod/src/test/

/LateinitAndSealed.iml
/LateinitAndSealed/build/*
/LateinitAndSealed/.gradle/*
/LateinitAndSealed/src/test/
