/.idea/*

/BasicGrammar.iml
/BasicGrammar/build
/BasicGrammar/.gradle
/BasicGrammar/src/test

/StandardFunctionAndStaticMethod.iml
/StandardFunctionAndStaticMethod/build/*
/StandardFunctionAndStaticMethod/.gradle/*
/StandardFunctionAndStaticMethod/src/test/

/LateinitAndSealed.iml
/LateinitAndSealed/build
/LateinitAndSealed/.gradle
/LateinitAndSealed/src/test

/ExtendedFunctionandOperatorOverloading.iml
/ExtendedFunctionandOperatorOverloading/build/*
/ExtendedFunctionandOperatorOverloading/.gradle/*
/ExtendedFunctionandOperatorOverloading/src/test/*

/HigherOrderFunction.iml
/HigherOrderFunction/build
/HigherOrderFunction/.gradle
/HigherOrderFunction/src/test

/GenericsAndDelegates.iml
/GenericsAndDelegates/build
/GenericsAndDelegates/.gradle
/GenericsAndDelegates/src/test

/InfixFunction.iml
/InfixFunction/build
/InfixFunction/.gradle
/InfixFunction/src/test